
body{
    background-color: #000c15 !important;
}
.background{
    background-image: url(Images/BackgroundImage.png);
    /* image-resolution:initial; */
    background-size: cover;
    width: 100%;
    height: 1069px;
    background-repeat: no-repeat;
    /* box-shadow:200px aqua; */
    /* box-shadow: 0px 20px 20px 0px rgb(255, 0, 0);  */
    /* box-shadow:inset 0 20px 0 20px #f50303 !important; */
    box-shadow: inset -200px -100px 300px -200px #010d16;
    
    }

.navbar{
    background:transparent !important;
    height: 78px;
    line-height: initial;
    border-bottom:  1px solid #f3e2ba;
    /* box-shadow: 0 0 0 18px  #101929 ; */

    
    /* border-color: #f3e2ba; */
}
.nav-item1{
    padding-left: 20px !important;
    
    /* font-weight: 10px !important; */
}
.nav-link{
    font-family: Charlemagne Std !important;
    font-weight: bold !important;
    color:#f3e2ba !important;
}

.title{
    padding-top: 150px;
    /* padding-bottom: 200px; */
    text-align: center;
}
h1{
    color: #f3e2ba !important;
    /* text-align: center; */
    font-weight: 500;
    text-transform: uppercase;
    font-size: 97px !important;
    font-family: Archeologicaps !important;
}
h2{
    color: #f3e2ba !important;
    /* text-align: center; */
    font-weight:500;
    text-transform: uppercase;
    font-size: 37px !;
    font-family: Archeologicaps regular;
}
.image{
    object-fit:cover; 
     width: 100%;
    
}
/* <!-- methode ---------- 1 with css --> */
/* div.imgbody p{
    position: absolute;
    bottom: 0;
} */
.card{
    margin-top: 200px;
}
div.card-img-overlay p{
    margin-bottom:10px ;
    margin-top: 150px;
    color:#f3e2ba;
    font-family: Gotham !important;
    font-size:17px;
    font-weight: lighter ;
    /* font-kerning: initial; */
    text-align: center;
    text-transform: uppercase;
    text-size-adjust:unset;
}
button{
    margin-top: 138px !important;
    text-transform: uppercase !important;
    font-size: 22.5px !important;
    text-align: center;
    font-style:Gotham !important;
    /* size: 100px !important; */
    border-color:#f3e2ba !important; 
    color: #f3e2ba !important;
    /* padding-left: 30px !important;
    padding-right: 30px !important; */
    width:347px;
    height: 74px;
}
